* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 500;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  line-height: 1;
  overflow: overlay;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


:root {
  /* Colors: */
  --background-color--default: #000127;
  --text-color--default: #fff;
  --link-color--default: #5AC8FA;
  --link-color--hover: #20aef0;
  /* --link-color--visited: #79b6d2; */
  --button-bg-color--default: #000127;
  --button-bg-color--hover: #2A3675;
  --button-bg-color--active: #626eae;
  --button-border-color--default: #fff;

  /* Border: */
  --border--default: 2px solid #fff;
  --border-radius--default: 12px;

  min-width: 400px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background-color--default);
}

main {
  width: 100%;
}

section {
  max-width: 70vmax;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 4rem 1rem;
  display: block;
}

h1, h2, h3, p, button, textarea, input, select, option, div {
  color: var(--text-color--default);
  line-height: 130%;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: x-large; 
}

h3 {
  font-size: large;
}

p,
a {
  font-size: 1rem;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--link-color--default);
  line-height: 130%;
}

a:hover {
  color: var(--link-color--hover);
  text-decoration: underline;
  cursor: pointer;
}

/* a:visited {
  color: var(--link-color--visited);
} */

button, textarea {
  border: var(--border--default);
  border-radius: var(--border-radius--default);
}

button {
  max-width: 200px;
  background-color: var(--button-bg-color--default);
  color: var(--text-color--default);
  margin: 1rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover:enabled {
  background-color: var(--button-bg-color--hover);
  cursor: pointer;
}

button:focus,
button:focus-visible {
  background-color: var(--button-bg-color--active);
}

button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

textarea {
  padding: 0.6em 1em;
  height: auto;
  min-height: 12vmin;
  background-color: var(--background-color--default);
  color: var(--text-color--default);
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding: 1rem 0 2rem;
  border-top: var(--border--default);
}

.page {
  width: 100vw;
  min-width: 400px;
  min-height: 100vh;
  position: relative;
}

.section-top-border {
  border-top: var(--border--default);
}

.div-parent-responsive {
  display: flex;
  flex-direction: row;
}

.div-child-responsive {
  width: 50%;
}


/* MEDIA */

@media screen and (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 902px) {
  .div-parent-responsive {
    flex-direction: column;
  }

  .div-child-responsive {
    width: 100%;
    margin-top: 1rem;
  }
}